# 1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

In [6]:
def arithmetic_operation(s):
    lst = s.split()
    if (lst[1] == '/' or lst[1] == '//') and lst[2] == '0':
        return -1
    elif lst[1] == '+':
        return int(lst[0]) + int(lst[2])
    elif lst[1] == '-':
        return int(lst[0]) - int(lst[2])
    elif lst[1] == '*':
        return int(lst[0]) * int(lst[2])
    elif lst[1] == '/':
        return int(lst[0]) / int(lst[2])
    elif lst[1] == '//':
        return int(lst[0]) // int(lst[2])

In [7]:
arithmetic_operation("12 * 12")

144

In [9]:
arithmetic_operation("12 - 12")

0

In [8]:
arithmetic_operation("12 // 0")

-1

# 2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

In [14]:
import math

In [20]:
def side(l1,l2):
    return math.sqrt(math.pow((l2[0] - l1[0]),2) + math.pow((l2[1] - l1[1]),2))

In [21]:
def perimeter(lst):
    a = side(lst[0],lst[1])
    b = side(lst[0],lst[2])
    c = side(lst[1],lst[2])
    
    return round((a+b+c),2)

In [22]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.28

# 3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

In [4]:
def tallest_skyscraper(lst):
    max = 0
    for i in range(len(lst)):
        sum = 0
        for j in range(len(lst[i])):
            if lst[j][i] == 1:
                sum = sum + 1
                       
        if sum > max:
            max= sum
                       
    return max

In [5]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

3

In [6]:
tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

4

# 4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

In [15]:
def bonus(num_day):
    bonu = 0
    
    if num_day > 48:
        bonu = bonu +  600 * (num_day -48)
        num_day = 48
    if num_day >= 41:
        bonu = bonu + 550 * (num_day -40)
        num_day = 40
            
    if num_day >= 33:
        bonu = bonu + 325 * (num_day - 32)
        num_day = 32
            
    return bonu

In [16]:
bonus(50)

8200

In [17]:
bonus(37)

1625

In [18]:
bonus(15)

0

# 5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

In [7]:
def is_disarium(num1): 
    a = num1
    sum = 0
    while(a>0):
        b = len(str(a))
        k = a%10
        sum = sum + k**(b)
        #print(sum)
        a = a//10
    if sum == num1:
        return True
    else:
        return False

In [8]:
is_disarium(544)

False

In [9]:
is_disarium(518)

True