# HRISHIKESH NAYAN

# 1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

In [13]:
def show_the_love(lst):
    a = min(lst)
    l = []
    sum = 0
    for i in lst:
        if i != a:
            x = i * 0.25
            l.append(i - x)
            sum = sum + x
        else:
            l.append(0)
            
    l[lst.index(a)] = a + sum 
    return l

In [14]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [15]:
show_the_love([2, 100])

[27.0, 75.0]

In [16]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

# 2. Create a function that takes in two words as input and returns a list of three elements, in the following order:

##   1.Shared letters between two words.
##   2.Letters unique to word 1.
##   3.Letters unique to word 2.

## Each element should have unique letters, and have each letter be alphabetically sorted.

In [58]:
def letters(st1,st2):
    l = []
    s1 = ""
    s2 = ""
    s3 = ""
    for i in st1:
        for j in st2:
            if i == j and i not in s1:
                s1 = s1 + i
            elif i not in st2 and i not in s2:
                s2 = s2 + i
            elif j not in st1 and j not in s3:
                s3 = s3 + j
                
    l = [''.join(sorted(s1)) , ''.join(sorted(s2)), ''.join(sorted(s3))] 
    
    return l

In [62]:
letters("board", "bored")

['bdor', 'a', 'e']

In [60]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [61]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

# 3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

In [1]:
def pairs(lst):
    l = []
    f = 0
    e = len(lst) - 1
    while(f <= e):
        l1 = [lst[f],lst[e]]
        l.append(l1)
        f = f + 1
        e = e - 1
        
    return l

In [2]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [3]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [4]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

# 4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings

In [5]:
def add_str_nums(s1 , s2):
      
    try:
        a = int(s1)
        b = int(s2)
        
    except:
        try:
             
            if type(a) == int and len(s2) == 0:
                return str(a)
             
           
           
            
        except:
            try:
               
                b = int(s2)
                if  type(b)== int and len(s1) == 0:
                    return str(b)
                 
            except:
                
                return "-1"
            else:
                return '-1'
            
    else:
         
        return str(a + b)

In [6]:
add_str_nums("4", "5")

'9'

In [7]:
add_str_nums("1", "")

'1'

In [8]:
add_str_nums("","5")

'5'

In [9]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

'1874682736267235927391936562808774986'

In [10]:
add_str_nums("abcdefg", "3")

'-1'

# 5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

## Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

In [85]:
def unmix(st):
    s = ""
    for i in range(0,len(st)-1,2):
        
        s = s + st[i+1] + st[i]
        
    return s

In [87]:
unmix("badce")

'abcd'

In [88]:
unmix("123456") 
#"214365"

'214365'

In [89]:
unmix("hTsii  s aimex dpus rtni.g") 
#"This is a mixed up string."

'This is a mixed up string.'