# HRISHIKESH NARAYAN

# 1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

In [1]:
def remove_letters(lst,stri):
    for i in range(len(stri)):
        if stri[i] in lst:
            lst.remove(stri[i])
        
    return lst

In [2]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [3]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

In [4]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

# 2. A block sequence in three dimensions. We can write a formula for this one:










## Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

In [1]:
def blocks(num):
    if num <= 0:
        return -1
    return ( 5+ (num -1)/2*(13 + (num - 1)))

In [4]:
blocks(2)

12.0

In [3]:
blocks(5)

39.0

# 3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

In [6]:
def my_sub(x , y):
    while x != 0:
        borrow = (~y) & x
        y = y ^ x
        x = borrow << 1
        
    return y

In [7]:
my_sub(10, 30)

20

In [8]:
my_sub(5, 9)

4

# 4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

## For the input string:

##   - Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
##   - Thousands are represented by the suffix k.

##i.e. $4k = $4,000 and £40k = £40,000

In [16]:
def add_bill(stri):
    l = stri.split(',')
    sum = 0
    
    for i in l:
        if i[0] == 'd':
            if i[-1] != 'k':
                sum = sum + int(i[1:])
            else:
                sum = sum + int(i[1]) * 1000
                
                
    return sum

In [17]:
add_bill("p30,d20,p60,d150,p360")

170

In [18]:
add_bill("p30,d2k,p60,d200,p360")

2200

# 5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

## In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

In [98]:
def flip_list(lst):
    l = []
    try:
        a = int(lst[0])
        
    except:
        for i in range(len(lst)):
            l.append(lst[i][0])
        
    
    else:
        for i in range(len(lst)):
            a = [lst[i],]
            l.append(a)
            
    finally:
        return l

In [99]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [100]:
flip_list([[5], [6], [9]])

[5, 6, 9]