# HRISHIKESH NARAYAN

# 1. Make a list called years list that starts with the year you were born and goes through each year until your fifth birthday. If you were born in 1980, suppose take example. Years list = [1980, 1981, 1982, 1983, 1984, 1985] will be the list.

In [3]:
year = []
for i in range(1998,2004):
    year.append(i)
year

[1998, 1999, 2000, 2001, 2002, 2003]

# 2. When was your third birthday, according to the years list? Remember, for your first year, you were 0 years old.

In [5]:
year[3]

2001

# In the years list, which year were you the oldest?

In [6]:
year[-1]

2003

# 4. Make a list called stuff with the three strings "mozzarella", "cinderella," and "salmonella" as components.

In [8]:
stuff = ["mozzarella" , "cinderella" , "salmonella"]
stuff

['mozzarella', 'cinderella', 'salmonella']

# 5. Print the list after capitalising the element in items that refers to an individual. Did the factor in the list change as a result of it?

In [16]:
for i in stuff:
    
    print(i.capitalize())

Mozzarella
Cinderella
Salmonella

### No , it doesn't change the list reslt of it.

# 6. Print the list of all of the cheesy elements in capital letters.

In [18]:
l = []
for i in "cheesy":
    l.append(i.upper())
l

['C', 'H', 'E', 'E', 'S', 'Y']

# 7. Remove the disease factor from the list, collect your Nobel Prize, and print it out.

In [19]:
l.pop()
l

['C', 'H', 'E', 'E', 'S']

# 8. Make a surprise list with the elements "Groucho", "Chico," and "Harpo."

In [9]:
surprise = ["Groucho" , "Chico" , "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

# 9. Lowercase, reverse, and capitalise the last element of the surprise list.

In [15]:
for i in surprise:
    print(i.lower())
    print(i[::-1])
    print(i.capitalize())

groucho
ohcuorG
Groucho
chico
ocihC
Chico
harpo
opraH
Harpo

# 10. Create and print an English-to-French dictionary called e2f. Here are some of words to get you started with: Dogs are called chien, cats are called chat, and walruses are called morse.

In [22]:
e2f = {"Dogs" : "chien" , "cats" : "chat" , "walruses" : "morse"}

In [23]:
e2f

{'Dogs': 'chien', 'cats': 'chat', 'walruses': 'morse'}

# 11. Write the French word for walrus in your three-word dictionary e2f.

In [24]:
e2f["walruses"]

'morse'

# 12. Build a f2e from e2f French-to-English dictionary. Make use of the item method.

In [26]:
f2e = {}
for i in e2f.items():
    f2e[i[1]] = i[0]
f2e

{'chien': 'Dogs', 'chat': 'cats', 'morse': 'walruses'}

# 13. Print the English version of the French word chien using f2e.

In [27]:
f2e["chien"]

'Dogs'

# 14. Create and print a list of English words using the e2f keys.

In [32]:
lst = list(e2f.keys())

In [33]:
lst

['Dogs', 'cats', 'walruses']

# 15. Build a life multilevel dictionary. Use the strings 'animals, plants, and other' for the topmost keys. Make the 'animals' key point to another dictionary containing the keys 'birds, octopi, and emus.' Let the 'cats' key apply to a list of strings containing the characters 'Henri,' 'Grumpy,' and 'Lucy.' All of the other keys should point to empty dictionaries.

In [45]:
life = {"animals" : {"birds" : "", "octopi" : "" , "emus" : "" , "cats" : ['Henri,' 'Grumpy' ,'Lucy'] }, 
        "plants" : {}, "other" : {}}

In [46]:
life

{'animals': {'birds': '',
  'octopi': '',
  'emus': '',
  'cats': ['Henri,Grumpy', 'Lucy']},
 'plants': {},
 'other': {}}

# 16. Print the top-level keys of life.

In [47]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

# 17. Print the keys for life['animals'].

In [48]:
life['animals'].keys()

dict_keys(['birds', 'octopi', 'emus', 'cats'])

# 18. Print the values for life['animals']['cats']

In [49]:
life['animals']['cats']

['Henri,Grumpy', 'Lucy']