# HRISHIKESH NARAYAN

# Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [3]:
def is_symmetrical(num):
    s = str(num)
    l = len(s)
    c = 0
    if l % 2 == 0:
        c = l//2
        s1 = s[0:c]
        s2 = s[c:]
        if s1 == s2[::-1]:
            return True
    else:
        c = l//2
        s1 = s[0:c]
        s2 = s[c+1:]
        if s1 == s2[::-1]:
            return True
    return False

In [4]:
is_symmetrical(12567)

False

In [5]:
is_symmetrical(7227)

True

In [6]:
is_symmetrical(1112111)

True

# Given a string of numbers separated by a comma and space, return the product of the numbers

In [13]:
def multiply_nums(st):
    st = st.split(",")
    mul = 1
    for i in st:
        mul = mul * int(i)
    return mul

In [14]:
multiply_nums("1, 2, 3, 4")

24

In [15]:
multiply_nums("10, -2")

-20

# Create a function that squares every digit of a number.

In [16]:
def square_digits(num):
    s = str(num)
    s1 = ""
    for i in s:
        s1 = s1 + str(int(i)**2)
    return int(s1)

In [17]:
square_digits(2483)

416649

In [18]:
square_digits(9119)

811181

# Create a function that sorts a list and removes all duplicate items from it.

In [21]:
def setify(lst):
    lst = list(set(lst))
    lst.sort()
    return lst

In [22]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [23]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

# Create a function that returns the mean of all digits.

In [28]:
def mean(num):
    s = str(num)
    l = len(s)
    sum = 0
    for i in s:
        sum = sum + int(i)
    return int(sum/l)

In [29]:
mean(12345)

3